body{
    background-color: #FAF1F6;
}
.about-us-hero{
    display: flex;
    column-gap: 40px;
    margin-left: 60px;
    padding-top: 20px;
}
.about-us-hero-img img{
    width: 400px;
    border-radius: 112px;
}
.about-us-hero-text{
    align-self: center;
}
.about-us-hero-text p{
    font-family: healing_sunday;
    font-size: 32px;
}
